@import url("reset.css");

html {
	font-size: 24px;
	width: 100%;
	background-color: grey;
}

body {
	width: 60%;
	background-color: white;
	margin: 0 auto 0 auto;
	padding-bottom: 2%;
	text-align: center;
}

h1 {
	padding: 5px;
	background-color: black;
	color: white;
}

form {
	margin: 2% auto 2% auto;
}

p {
	font-size: 1.5em;
	line-height: 100%;
}

input {
	font-size: 1em;
}

select {
	font-size: 1em;
}

input[type="text"] {
	width: 20%;
	text-align: right;
}

input[type="submit"]:hover {
	background-color: lightgrey;
}

.history {
	margin-top: 2%;
}

.history h2 {
	font-size: 1.5em;
}

.history p {
	font-size: 1.2em;
	line-height: 80%;
}